@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.section {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.header {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;

  @include tablet-and-more {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: $spacing-base;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.description {
  color: $color-text-secondary;
}
