@use '../../../styles/variables' as *;

.row {
  display: flex;
  align-items: center;
  gap: $spacing-xl;
  margin-bottom: $spacing-sm;

  &:last-child {
    margin-bottom: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
