@use '../../scss/variables' as *;

.main {
  min-height: calc(100vh - 80px);

  padding: $spacing-xl;

  background-color: var(--color-background);

  .row {
    display: flex;

    align-items: center;

    gap: $spacing-xl;

    margin-bottom: $spacing-base;
  }
}
