@use '../../../scss/variables' as *;

.root {
  display: flex;

  flex-wrap: wrap;

  margin-bottom: $spacing-xs;
}

.t12 {
  font-size: 12px;
  font-weight: $font-weight-normal;
}

.t14 {
  font-size: 14px;
  font-weight: $font-weight-normal;
}

.t16 {
  font-size: 16px;
  font-weight: $font-weight-normal;
}

.t18 {
  font-size: 18px;
  font-weight: $font-weight-normal;
}

.t18b {
  font-size: 18px;
  font-weight: $font-weight-extrabold;
}

.t24b {
  font-size: 24px;
  font-weight: $font-weight-extrabold;
}

.t30b {
  font-size: 30px;
  font-weight: $font-weight-extrabold;
}
