.root {
  display: flex;

  flex-wrap: wrap;

  margin-bottom: 8px;
}

.t10 {
  font-size: 10px;
  font-weight: 400;
}

.t14 {
  font-size: 14px;
  font-weight: 400;
}

.t14_130 {
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.01em;
}

.t18 {
  font-size: 18px;
  font-weight: 400;
}

.t18b {
  font-size: 18px;
  font-weight: 900;
}

.t24b {
  font-size: 24px;
  font-weight: 900;
}

.t30b {
  font-size: 30px;
  font-weight: 900;
}
