@use '../../../scss/variables' as *;
@use '../../../scss/mixins' as *;

.switcher {
  transform: scaleX(var(--rotation));

  rect {
    fill: var(--color-text-secondary);
    stroke: var(--color-switcher-border);
  }

  path {
    fill: var(--color-surface);
    stroke: var(--color-switcher-border);
  }
}
