@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.wrapper {
  transition: all $transition-base;
  cursor: pointer;

  @include noselect;

  @include tablet-and-less {
    @include flex-children;
  }

  .switcher {
    transform: scaleX(var(--rotation));

    rect {
      fill: $color-text-secondary;
      stroke: $color-text-primary;
    }

    path {
      fill: $color-surface;
      stroke: $color-text-primary;
    }
  }

  &:active {
    transform: translateY(1px);
  }
}
