@use '../../../scss/variables' as *;
@use '../../../scss/mixins' as *;

.wrapper {
  transition: all $transition-base;

  cursor: pointer;

  @include noselect;

  .switcher {
    transform: scaleX(var(--rotation));

    rect {
      fill: var(--color-text-secondary);
      stroke: var(--color-text-primary);
    }

    path {
      fill: var(--color-surface);
      stroke: var(--color-text-primary);
    }
  }

  &:active {
    transform: translateY(1px);
  }
}
