.header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 24px;

  border-bottom: 1px solid ghostwhite;

  a {
    width: 256px;
    height: 25px;
  }

  .logo {
    svg {
      width: 256px;
      height: 25px;
    }
  }

  .logo:active {
    svg {
      transform: translateY(1px);
    }
  }
}
