.header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 24px;

  border-bottom: 1px solid ghostwhite;

  a {
    width: 256px;
    height: 25px;
  }

  .logo {
    svg {
      width: 256px;
      height: 25px;
    }
  }

  .logo:active {
    svg {
      transform: translateY(1px);
    }
  }

  .controls {
    display: flex;

    align-items: center;

    gap: 16px;

    .button {
      width: 24px;
      height: 24px;

      border: 1px solid black;
      border-radius: 12px;
    }

    .switcher {
      display: flex;

      align-items: center;

      &:hover {
        cursor: pointer;

        transform: scaleX(-1);

        svg {
          path {
            fill: whitesmoke;
          }
        }
      }
    }
  }
}
