@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: $spacing-xl;

  border-bottom: $border-width-1 solid var(--color-border);

  a {
    width: auto;
    height: 25px;
  }

  .logo {
    svg {
      width: 256px;
      height: 25px;
    }
  }

  .logo:active {
    svg {
      transform: translateY(1px);
    }
  }

  .controls {
    display: flex;

    align-items: center;

    gap: $spacing-base;

    a {
      span {
        svg {
          width: 22px;
          height: 22px;
        }

        @include svg-fill;
      }
    }
  }
}
