@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: $spacing-xl;

  border-bottom: $border-width-1 solid var(--color-border);

  a {
    cursor: pointer;

    .logo {
      width: auto;
      height: 25px;

      svg {
        width: 256px;
        height: 25px;
      }
    }

    &:active {
      transform: translateY(1px);
    }
  }

  .controls {
    display: flex;

    align-items: center;

    gap: $spacing-base;
  }
}
