@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.header {
  position: sticky;
  top: $spacing-xs;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $spacing-sm;
  padding: $spacing-base;

  background-color: $color-background;
  border: $border-width-1 solid $color-border;
  border-radius: $border-radius-lg;

  @include theme-transition(background-color);

  .logo {
    width: auto;
    height: 20px;

    svg {
      width: 200px;
      height: 20px;
    }
  }

  .menu {
    position: absolute;
    right: $spacing-base;
  }

  @supports (corner-shape: superellipse(1.5)) {
    border-radius: calc($border-radius-xl);
    corner-shape: superellipse(1.5);
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-sm;
}
