@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.header {
  position: sticky;
  top: $spacing-xs;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $spacing-xs;
  padding: $spacing-base;

  background-color: var(--color-background);
  border: $border-width-1 solid var(--color-border);
  border-radius: $border-radius-lg;

  @include theme-transition(background-color);

  a {
    cursor: pointer;

    .logo {
      width: auto;
      height: 20px;

      svg {
        width: 200px;
        height: 20px;
      }
    }

    &:active {
      transform: translateY(1px);
    }

    &:first-child {
      height: 20px;
    }
  }

  .menu {
    position: absolute;
    right: $spacing-base;
  }

  @supports (corner-shape: superellipse(2)) {
    border-radius: calc($border-radius-lg * 2);
    corner-shape: superellipse(2);
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: $spacing-base;
}
