@use '../../../styles/variables' as *;

// Съезжающая снизу панель
.sheet {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  max-height: 85vh;
  padding: $spacing-xl;
  overflow-y: auto;

  background-color: $color-background;
  border: $border-width-1 solid $color-border;
  border-radius: $border-radius-xl $border-radius-xl 0 0;
  box-shadow: $shadow-2xl;

  color: $color-text-primary;

  animation: slide-up $transition-fast;

  @supports (corner-shape: superellipse(2)) {
    border-radius: calc($border-radius-xl * 2) calc($border-radius-xl * 2) 0 0;
    corner-shape: superellipse(2);
  }
}

// Скрытый заголовок для доступности
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  white-space: nowrap;

  clip-path: inset(50%);
}

// Появление шторки снизу
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
