@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.footer {
  display: flex;

  justify-content: space-between;

  height: 180px;
  padding: $spacing-xl;

  border-top: $border-width-1 solid var(--color-border);

  .column {
    display: flex;

    flex-direction: column;

    gap: $spacing-sm;

    .row {
      gap: $spacing-xs;

      @include flex-children(row, start, center);

      svg:hover {
        cursor: pointer;

        transform: translateY(-2px);

        @include smooth-transition;
      }
    }

    &:not(:first-child) {
      align-items: end;
    }

    .logo {
      svg {
        width: 128px;
        height: 12.5px;
      }
    }

    .logo:active {
      svg {
        transform: translateY(1px);
      }
    }
  }
}
