.footer {
  display: flex;

  justify-content: space-between;

  height: 180px;
  padding: 24px;

  border-top: 1px solid ghostwhite;

  .column {
    display: flex;

    flex-direction: column;
    align-items: end;

    a {
      margin-bottom: 4px;
    }

    .logo {
      svg {
        width: 128px;
        height: 12.5px;
      }
    }

    .logo:active {
      svg {
        transform: translateY(1px);
      }
    }
  }
}
