@use '../../scss/variables' as *;

.footer {
  display: flex;

  justify-content: space-between;

  height: 180px;
  padding: $spacing-xl;

  border-top: $border-width-1 solid var(--color-border);

  .column {
    display: flex;

    flex-direction: column;
    align-items: end;

    a {
      margin-bottom: $spacing-xxs;
    }

    .logo {
      svg {
        width: 128px;
        height: 12.5px;
      }
    }

    .logo:active {
      svg {
        transform: translateY(1px);
      }
    }
  }
}
