@use './scss/libs/normalize';
@use './scss/variables' as *;
@use './scss/mixins' as *;

body {
  background-color: var(--color-background);

  font-family: $font-family-sans;

  color: var(--color-text-primary);

  @include theme-transition(background-color);
}
