@use './styles/global';
@use './styles/variables' as *;
@use './styles/mixins' as *;

body {
  background-color: $color-background;

  font-family: $font-family-sans;
  color: $color-text-primary;

  @include theme-transition(background-color);
}
