@use './variables' as *;

@mixin mobile {
  @media (width < $breakpoint-md) {
    @content;
  }
}

@mixin tablet {
  @media (width >= $breakpoint-md) and (width < $breakpoint-lg) {
    @content;
  }
}

@mixin desktop {
  @media (width >= $breakpoint-lg) {
    @content;
  }
}

@mixin min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

// Aligns blocks to the center
@mixin flex-children($flex-direction: row, $justify-content: center, $align-items: center) {
  display: flex;

  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

// Prevents the user from selecting elements
@mixin noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

// Limits text to a number of lines
@mixin line-clamp($lines) {
  display: block;

  overflow: hidden;

  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: $lines;

  line-clamp: $lines;
}

// Hide scrollbar
@mixin hide-scrollbar {
  -ms-overflow-style: none;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Transitions
@mixin smooth-transition($properties: all) {
  transition: $properties var(--transition-duration) var(--transition-timing);
}

@mixin theme-transition($properties: all) {
  transition: $properties var(--transition-theme) var(--transition-timing);
}

@mixin svg-fill() {
  svg {
    display: block;

    margin: 0 auto;

    path {
      fill: var(--color-text-primary);
    }
  }
}
