@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
  display: flex;
  flex-direction: column-reverse;
  gap: $spacing-2xl;
  margin: 0 $spacing-sm;
  padding: $spacing-base $spacing-sm $spacing-5xl $spacing-sm;

  border-top: $border-width-1 solid $color-border;

  @include tablet-and-more {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: $spacing-xl $spacing-xl $spacing-5xl $spacing-xl;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  &:last-child {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include tablet-and-more {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

.logos {
  gap: $spacing-sm;

  @include flex-children(row, start, center);

  svg {
    flex-shrink: 0;
    width: auto;
    height: $spacing-2xl;

    &:hover {
      cursor: pointer;

      transform: translateY(-2px);

      @include smooth-transition;
    }
  }
}

.logo {
  width: auto;
  height: 16px;
}
