@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
  display: flex;
  flex-direction: column-reverse;
  gap: $spacing-xl;
  margin: 0 $spacing-sm;
  padding: $spacing-base $spacing-sm $spacing-5xl $spacing-sm;

  border-top: $border-width-1 solid $color-border;

  @include tablet-and-more {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: $spacing-xl $spacing-xl $spacing-5xl $spacing-xl;
  }

  &_left_column {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
  }

  &_right_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-xxs;

    @include tablet-and-more {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

.links_block {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxs;
}

.dependencies {
  gap: $spacing-sm;

  @include flex-children(row, start, center);

  .dependency_logo {
    height: $spacing-2xl;

    &:hover {
      transform: translateY(-2px);

      @include smooth-transition;
    }
  }
}

.logo {
  width: auto;
  height: 16px;
}
