@use '../styles/variables' as *;

.layout {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 $spacing-xl;
  overflow-x: clip;
}

.content {
  flex: 1;
  padding: $spacing-xl;
}
